body{
    font-family: 'Sarabun', sans-serif;
}
.section{
    padding-top: 40px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Noto Serif Thai', serif;
}
.main-hading{
    color: rgb(212, 129, 20);
    font-size: 25px;
    text-align: center;
    font-family: 'Noto Serif Thai', serif;
}
.underline{
    height: 4px;
    width: 10rem;
    background-color: blue;
    margin-top: 10px;
    margin-bottom: 10px;
}
h3{
    font-family: 'Noto Serif Thai', serif;
    color: rgb(255, 125, 125);
    font-size: 20px;
    text-align: center;
}
.bg-c-light{
    background-color: rgb(255, 255, 255);
}
.col-md-4text-center{
    font-size: 20px;
}
